@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '/public/fonts/fonts.css'; */

:root {
  --foreground: #f3f3f3 !important;
  --background: #080305 !important;
  --red-color: #A90200 !important;

  --green-color: #9fef00 !important;

  --background-secondary: #111927 !important;
  --background-container: #1a2332 !important;
  --background-green: #9fef0012 !important;
  --background-green-hover: #aaff0025 !important;
  --background-red: #2f1e2a !important;
  --background-red-hover: #41222c !important;
  --background-yellow: #ffaf001a !important;

  --gray-color: #a4b1cd !important;

  --content1: #1a2332 !important;
  --overlay: #1a2332 !important;
  --divider: #202837 !important;
  --warning: #ffaf00 !important;
  --error: #ff3e3e !important;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

* ::-webkit-scrollbar {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  text-wrap: balance;
  background: var(--background-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NeueHaasUnica', Roboto, sans-serif;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-description {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.full-description h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.full-description h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 8px;
}

.full-description h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 6px;
}

.full-description p {
  font-size: 1em;
  margin-bottom: 15px;
}

.full-description code {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 1em;
}

.full-description pre {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.full-description ul,
.full-description ol {
  padding-left: 20px;
  margin-bottom: 10px;
}

.full-description li {
  margin-bottom: 5px;
}

.full-description a {
  text-decoration: none;
}

.full-description a:hover {
  text-decoration: underline;
}